body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: azure;
}

button {
    height: 30px;
    width: 80px;
    border-radius: 8px;
    border: 1px solid black;
    background-color: white;
}

#submit {
    background-color: rgb(85, 136, 247);
    color: white;
}

textarea {
    border-radius: 8px;
    border: 1px solid lightgray;
    background-color: white;
}

input {
    border-radius: 8px;
    height: 17px;
    border: 1px solid lightgray;
    background-color: white;
}

fieldset {
    border: 1px solid black;
    border-radius: 8px;
}

legend {
    font-weight: bold;
    font-size: large;
}